* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
}

a {
  color: black;
}

/* Header */
header a {
  text-decoration: none;
  font-size: 1.125em;
}

header a:hover {
  text-decoration: underline;
}

header .overlay,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

header {
  background: white;
  height: 52px;
}

.home {
  font-weight: bold;
  margin-right: 3ch;
}

nav {
  gap: 1.5ch;
}

nav a {
  font-weight: normal;
  white-space: nowrap;
}

/* Install code block */
.code-block {
  white-space: pre-wrap;
  background: #f1f3f5;
  padding: 1em;
  border-radius: 4px;
}

#arrow {
  height: 0px;
  opacity: 0;
  transition: 250ms ease-in-out all;
}

#arrow[data-popper-arrow-visible] {
  height: auto;
  opacity: 1;
}

/* custom elements */
.btn {
  padding: 4px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #d4d4d8;
  border-radius: 6px;
}

.btn.active {
  background: #27272a;
  color: #efefef;
}

.preachjs-toast--message {
  background: black;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  transition: top left 250ms linear;
}

.preachjs-toast--aligner[data-position="top"]
  .preachjs-toast--message.toast-added {
  animation: animate-top-enter 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.preachjs-toast--aligner[data-position="top"]
  .preachjs-toast--message.toast-removed {
  animation: animate-top-exit 0.4s forwards cubic-bezier(0.06, 0.71, 0.55, 1);
}

.preachjs-toast--aligner[data-position="bottom"]
  .preachjs-toast--message.toast-added {
  animation: animate-bottom-enter 0.35s cubic-bezier(0.21, 1.02, 0.73, 1)
    forwards;
}

.preachjs-toast--aligner[data-position="bottom"]
  .preachjs-toast--message.toast-removed {
  animation: animate-bottom-exit 0.4s forwards cubic-bezier(0.06, 0.71, 0.55, 1);
}

.preachjs-toast--message[data-type="success"] {
  background: limegreen;
}

.preachjs-toast--message[data-type="error"] {
  background: red;
}

.preachjs-toast--message[data-type="warning"] {
  background: yellowgreen;
}

.preachjs-toast--message[data-type="info"] {
  background: lightskyblue;
}

@keyframes animate-top-enter {
  0% {
    transform: translate3d(0, -200%, 0) scale(0.6);
    opacity: 0.5;
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes animate-top-exit {
  0% {
    transform: translate3d(0, 0, -1px) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -150%, -1px) scale(0.6);
    opacity: 0;
  }
}

@keyframes animate-bottom-enter {
  0% {
    transform: translate3d(0, 200%, 0) scale(0.6);
    opacity: 0.5;
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes animate-bottom-exit {
  0% {
    transform: translate3d(0, 0, -1px) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 150%, -1px) scale(0.6);
    opacity: 0;
  }
}
